{% extends "base.html" %}
{% block content %} 
<!--Container-->
{% set url = url_for('static',filename="assets/images/paper.jpg") %}

<div class="container w-full md:max-w-7xl mx-auto pt-20" style="background:url('{{url}}');">

    <div class="w-full px-4 md:px-8 text-lg text-gray-900 leading-8 border-2 " style="font-family:Georgia,serif;opacity: 0.8;">

        <!--Title-->
       
        <div class="font-sans">
            
                    <h1 class="font-bold font-sans break-normal text-green-700 pt-6 pb-2 text-3xl md:text-4xl">{{post_title.0.0}}</h1>


  <!--Post Image-->
  {% if image[0][0] %}
  <div class="flex flex-wrap justify-center m-4">
      <div class="w-8/12 sm:w-6/12 px-4">
        <img
          src="{{url_for('static',filename = 'images/{}'.format(image[0][0]))}}"
          alt="{{image}}"
          class="shadow-xl rounded max-w-full h-auto align-middle border-none"
        />
      </div>
    </div>
    {%endif%}



                    <p class="text-sm md:text-base font-normal text-gray-600">Published {{post_date.0.0}}</p>
        </div>
      
    
      
        <!--Lead Para-->

        <p class="py-6 whitespace-pre-wrap" style="white-space: pre-wrap; line-height: 2;">
            {{content.0.0}}
        </p>


      

        <blockquote class="border-l-4 border-green-500 italic my-8 pl-8 md:pl-12">Author: {{ post_author.0.0 }} </blockquote>

        
        


        <!--/ Post Content-->

    </div>
  <!--Divider-->

</div>
<!--/container-->




 {% endblock %}

{% block more %}
<!-- Start of blogs mini displays -->
<section class="more-blog-post">
    <h3>More of the latest Stories</h3>
    <div class="content-background">
        <div class="mini-blog">


            <div class="card">
                <h5 class="card-header">Featured</h5>
                <div class="card-body">
                    <h5 class="card-title text-4xl text-green-500">{{post_title.1.0}}</h5>
                    <div class="card-text-place">
                    <p class="card-text " style="opacity: 0.8">{{content.1.0}}</p>
                    </div>
                    <a href={{url_for("views.more", id=post_id.1.0)}} class="btn btn-primary">Read</a>
                </div>
            </div>

            <div class="card">
                <h5 class="card-header">Featured</h5>
                <div class="card-body">
                    <h5 class="card-title text-4xl text-green-700">{{post_title.2.0}}</h5>
                    <div class="card-text-place">
                    <p class="card-text" style="opacity: 0.8">{{content.2.0}}</p>
                    </div>
                    <a href={{url_for("views.more", id=post_id.2.0)}} class="btn btn-primary">Read</a>
                </div>
            </div>

            <div class="card">
                <h5 class="card-header">Featured</h5>
                <div class="card-body">
                    <h5 class="card-title text-4xl text-green"style="opacity: 0.9">{{post_title.3.0}}</h5>
                    <div class="card-text-place">
                    <p class="card-text" style="opacity: 0.8">{{content.3.0}}</p>
                    </div>
                    <a href={{url_for("views.more", id=post_id.3.0)}} class="btn btn-primary">Read</a>
                </div>
            </div>




        </div>
    </div>
</section>
{% endblock %}
<!-- End of blogs mini displays -->